﻿@*@model Nest.ISearchResponse<Permissions>

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="text" name="query" />
    <input type="submit" value="Search" />
</form>

@if (Model.Documents.Any())
{
    <h3>Search Results</h3>
    <ul>
        @foreach (var permissions in Model.Documents)
        {
            <li>EmployeeForename: @permissions.EmployeeForename EmployeeSurname: @permissions.EmployeeSurname</li>
        }
    </ul>
}*@